.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/blur.jpg) no-repeat center center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}